# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Dependencias
node_modules
.pnpm-store

# Builds
dist
.astro
.output

# Entornos — NUNCA commitear
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Editor
.idea
.vscode/*
!.vscode/extensions.json

# Docker
infra/**/volumes/
